@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.window{
    position: absolute;
    border: 3px solid red;
    width: 645px;
    height: 100vh;
    left: 80px;
    top: 44px;
}
